<p style="color: green"><%= notice %></p>

<h1>Cleanings</h1>

<div id="cleanings">
  <% @cleanings.each do |cleaning| %>
    <%= render cleaning %>
    <p>
      <%= link_to "Show this cleaning", cleaning %>
    </p>
  <% end %>
</div>

<%= link_to "New cleaning", new_cleaning_path %>
