<div id="<%= dom_id cleaning_table %>">
  <p>
    <strong>Ordered:</strong>
    <%= cleaning_table.ordered %>
  </p>

  <p>
    <strong>Complete:</strong>
    <%= cleaning_table.complete %>
  </p>

</div>
