<h1>Editing cleaning table</h1>

<%= render "form", cleaning_table: @cleaning_table %>

<br>

<div>
  <%= link_to "Show this cleaning table", @cleaning_table %> |
  <%= link_to "Back to cleaning tables", cleaning_tables_path %>
</div>
