<div id="<%= dom_id activities_table %>">
  <p>
    <strong>Ordered:</strong>
    <%= activities_table.ordered %>
  </p>

  <p>
    <strong>Complete:</strong>
    <%= activities_table.complete %>
  </p>

</div>
