<h1>Editing activities table</h1>

<%= render "form", activities_table: @activities_table %>

<br>

<div>
  <%= link_to "Show this activities table", @activities_table %> |
  <%= link_to "Back to activities tables", activities_tables_path %>
</div>
