<ul class="navbar-nav ms-auto mb-2 mb-lg-0 my-nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle fas fa-tachometer-alt" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;">
      <i class="fas fa-tachometer-alt"></i><%= current_user.email %>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to 'Log out', destroy_user_session_path, class: 'dropdown-item', style:"color:white;", data: { turbo_method: :delete } %>
      </li>
    </ul>
  </li>
</ul>
